{% extends 'base.html' %}

{%block content%}


	<div class="album py-5">
        <div class="container">

          <div class="row">
            {% for photo in photos %}
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">

                <img class="card-img-top"
                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                     alt="Thumbnail [100%x225]"
                     style="height: 225px; width: 100%; display: block;"
                     src="{{photo.url}}"
                     data-holder-rendered="true">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button data-id="{{photo.id}}" type="button" class="btn btn-sm btn-outline-secondary like">Like</button>
                    </div>
                    <small class="numlike text-muted"><span class="likes-{{photo.id}}">{{photo.likes}}</span> likes</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
	
{%endblock%}